@media (min-width: 1000px) and (max-width: 1250px){
    .info {
        height: 45%;
        margin-top: 15%;
    }

    .details {
        border-width: 3px;
    }

    .details__bar {
        height: 35px;
    }

    .details__ico {
        transform: scale(0.8);
    }
}