@media (min-width: 450px) and (max-width: 660px){ 
    .info {
        width: 100%;
        height: 70%;
        margin-top: 20%;
        margin-left: 0%;
        display: inline-block;
        padding-top: 0;
    }

    .info__text {
        width: 100%;
        height: auto;
        display: block;
        position:relative;
        padding-left: 0px;
        padding-top: 0px;
    }

    .title {    

        font-size: 28px;
        padding-left: 0px;
        padding-top: 0%;

        text-align: center;

        width: 100%;
        height: 45%;
    }

    .activity {

        padding-left: 0px;
        padding-top: 25px;
        font-size: 16px;

        text-align: center;

        width: 100%;
        height: 45%;
    }

    .general {

        padding-left: 0px;
        padding-top: 15px;
        font-size: 15px;

        text-align: center;

        width: 100%;
        height: 45%;

    }

    .details {
        margin: 30px auto;
        width: 200px;
    }

    .details__title {
        font-size: 15px;
    }

    .details__bar {
        height: 25px;
    }

    .details__ico {
        transform: scale(0.8);
    }

    .details__text__title {
        font-size: 18px;
    }

    .details__text__entity, .details__text__period__data {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    
        line-height: 150%;
    
        padding-top: 15px;
        padding-bottom: 10px;
    
    }

    .info__chart {
        width: 95%;
        height: auto;
        margin: 0px;
        padding-left: 10px;

    }
    
    .chart {

        padding-top: 0px;

        width: 100%;
        height: auto;
        margin: 0px;
        
    }
    
    .slider {

        width: 90%;
        height: 5%;
        margin: 0px;
        margin-top: 40px;
        margin-left: 40px;
    }
}