.info__text{
    /*outline: 2px solid black;*/

    color: white;

    width: 40%;
    height: 98%;

    padding-left: 20px;

}
.title {    
    /*outline: 2px solid black;*/

    font-size: 2.18vw;
    padding-top: 20%;  

}

.activity {
    
    font-size: 1.2vw;
    line-height: 150%;
    padding-top: 8%;
}

.text {
    /*outline: 2px solid black;*/

    font-size: 1.2vw;
    line-height: 170%;
    padding-top: 5%;
}
