
.details {
    /* outline: 2px solid black; */

    width: 19vw;
    height: auto;
    margin-top: 8%;
    margin-left: -5px;
    background-color: rgba(54, 87, 163, 0.3);

    border-radius: 15px 15px 15px 15px;
    border-color: rgba(54, 87, 163, 1);
    border-style: solid;

    align-items: center;
    

}

.details__bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    width: 101%;
    height: 42px;

    margin-left: -2px;
    margin-top: -2px;

    background-color: #3657A3;
    border-radius: 10px 10px 10px 10px;

    cursor: pointer;
}

.details__title {
    
    padding-left: 15px;
    color: white;
    font-size: 1.2vw;
    line-height: 170%;

}

.details__text {
    /* outline: 2px solid black; */
    display: none;
    
    padding: 0px 10px 30px 10px;
}

.details__text__title {
    /* outline: 2px solid black; */

    font-size: 1.5vw;
    text-align: center;
    line-height: 120%;

    padding-top: 20px;
}

.details__text__entity, .details__text__period__data {
    /* outline: 2px solid black; */

    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    line-height: 150%;

    padding-top: 15px;
    padding-bottom: 10px;

}

.details__text.open {
    display: block;
}

.details__ico{
    display: block;
    width: 10px;
    height: 8px;
    
    position: relative;
    margin-right: 5%;
    margin-top: 2px;

}

.details__ico::before,
.details__ico::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 30%;

    transition: all 0.3s ease 0s;
    
}

.details__ico::before{
    top: 0;
    transform: translate(-4.1px, 1.4px) rotate(-45deg) ;
}

.details__ico::after {
    transform:  translate(-10px, -2.8px) rotate(45deg);
    bottom: 0;
}


.details__ico.open::before{
    top: 0;
    transform: translate(-4.1px, 1.4px) rotate(45deg) ;
}

.details__ico.open::after {
    transform:  translate(-10px, -2.8px) rotate(-45deg);
    bottom: 0;
}



